.centerAlign {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.errors {
  display: flex;
  justify-content: center;
  align-items: left;
  flex-direction: column;
}