<div class="add-goals-container">
  <mat-list>
    <h1 style="text-align:center">Start Adding Your New Goal</h1>
    <mat-divider></mat-divider>
  </mat-list>
<div class = "centerAlign" *ngIf=!submitted>
    <mat-form-field appearance="fill">
      <mat-label>Name</mat-label>
      <input matInput [(ngModel)]="goals.name" required>
    </mat-form-field>
    <br>
    <mat-form-field appearance="fill">
      <mat-label>Description</mat-label>
      <input matInput [(ngModel)]="goals.description" required>
    </mat-form-field>
    <br>
    <mat-form-field appearance="fill">
        <mat-label>Picture</mat-label>
        <mat-select [(ngModel)]="goals.picture">
          <mat-option *ngFor="let picture of pictures" [value]="picture.image">
            <img width="50" height="50" src={{picture.image}} > 
            <span style="margin-left: 30px;">{{picture.value}}</span> 
          </mat-option>
        </mat-select>
    </mat-form-field>
    <br>
    <mat-form-field appearance="fill">
      <mat-label>Target Date</mat-label>
      <input matInput type="date" name="targetDate" 
      [ngModel]="goals.targetDate | date:'yyyy-MM-dd'" 
      [ngModelOptions]= "{updateOn:'blur'}"
        (ngModelChange)="goals.targetDate=$event"
      required>
    </mat-form-field>
    <br>
    <mat-form-field appearance="fill">
        <mat-label>Current Amount</mat-label>
     <!-- > <span matPrefix>$&nbsp;</span>-->
        <input matInput name = "currentAmount"[ngModel]="goals.currentAmount | currency" 
       [ngModelOptions]="{updateOn:'blur'}"
        (ngModelChange)="goals.currentAmount=$event" required>
    </mat-form-field>
    <br>
    <mat-form-field appearance="fill">
        <mat-label>Target Amount</mat-label>
        <input matInput name = "targetAmount" [ngModel]="goals.targetAmount | currency" 
        [ngModelOptions]= "{updateOn:'blur'}"
        (ngModelChange)="goals.targetAmount=$event"
        required>
    </mat-form-field>
    <br>
    <div class="button-container">
      <button class="button-space" mat-raised-button color="primary" routerLink='/goals'>
        <mat-icon>home</mat-icon>Back
      </button>
      <button class="button-space" mat-raised-button color="primary"
      [disabled]="goals.name === '' || goals.description === ''
                || goals.currentAmount <= 0 || goals.targetAmount <= 0 "
       (click)="saveGoal()">
        <mat-icon>save</mat-icon> Save
      </button>
    </div>
  </div>
  
  <div class="submitted-container" *ngIf=submitted>
    <div class="message-container">
      <h4>Goal was added successfully!</h4>
    </div>
    <div class="button-container">
      <button class="button-space" mat-raised-button color="primary" (click)="newGoal()">
        <mat-icon>portrait</mat-icon> Add Another Goal
      </button>
      <button class="button-space" mat-raised-button color="primary" routerLink='/goals'>
        <mat-icon>home</mat-icon>Back
      </button>
    </div>
  </div>
</div>
