<h1 style="text-align:center">Start Adding Your New Goal</h1>
<div class = "centerAlign" *ngIf=!submitted>
    <mat-form-field appearance="fill">
      <mat-label>Name</mat-label>
      <input matInput [(ngModel)]="goals.name" required>
    </mat-form-field>
    <br>
    <mat-form-field appearance="fill">
      <mat-label>Description</mat-label>
      <input matInput [(ngModel)]="goals.description" required>
    </mat-form-field>
    <br>
    <mat-form-field appearance="fill">
        <mat-label>Picture</mat-label>
        <mat-select [(ngModel)]="goals.picture">
          <mat-option *ngFor="let picture of pictures" [value]="picture.value">
            <img width="50" height="50" src={{picture.image}} > {{picture.value}} 
          </mat-option>
        </mat-select>
    </mat-form-field>
    <br>
    <mat-form-field appearance="fill">
      <mat-label>Target Date</mat-label>
      <input matInput type="date" [(ngModel)]="goals.targetDate" required>
    </mat-form-field>
    <br>
    <mat-form-field appearance="fill">
        <mat-label>Current Amount</mat-label>
        <input matInput [(ngModel)]="goals.currentAmount" required>
    </mat-form-field>
    <br>
    <mat-form-field appearance="fill">
        <mat-label>Target Amount</mat-label>
        <input matInput [(ngModel)]="goals.targetAmount" required>
    </mat-form-field>
    <br>
    <button mat-raised-button color="primary" (click)="saveGoal()">
      <mat-icon>save</mat-icon> Save
    </button>
    <br>
    <button mat-raised-button color="primary" routerLink='/goals'>
      <mat-icon>home</mat-icon>Back
    </button>
  </div>
  
  <div *ngIf=submitted>
    <h4 style="color:rgb(206,0,00);width: 400px; margin:auto">Goal was added successfully</h4>
  <button mat-raised-button color="primary" (click)="newGoal()">
    <mat-icon>portrait</mat-icon> Add Another Goal
  </button>
  <button mat-raised-button color="primary" routerLink='/goals'>
    <mat-icon>home</mat-icon>Back
  </button>
  </div>