<div>
  <nav class="navbar navbar-expand navbar-dark bg-dark">
    <a href="#" class="navbar-brand">Spyglass 🔎 </a>
    <div class="navbar-nav mr-auto">
      <li class="nav-item">
        <a routerLink="" class="nav-link">Home</a>
      </li>
      <li class="nav-item">
        <a routerLink="goals" class="nav-link">Goals</a>
      </li>
      <!-- <li>
        <a routerLink="charts" class="nav-link">Chart</a>
      </li> -->
    </div>
  </nav>

  <div class="container mt-3">
    <router-outlet></router-outlet>
  </div>
</div>
