<h1 style="text-align:center">Start Updating Your Goal</h1>
<div class = "centerAlign">
    <mat-form-field appearance="fill">
      <mat-label>Name</mat-label>
      <input matInput name="name" [(ngModel)]="currentGoal.name" required>
    </mat-form-field>
    <br>
    <mat-form-field appearance="fill">
      <mat-label>Description</mat-label>
      <input matInput name="description" [(ngModel)]="currentGoal.description" required>
    </mat-form-field>
    <br>
    <mat-form-field appearance="fill">
        <mat-label>Picture</mat-label>
        <mat-select [(ngModel)]="currentGoal.picture" name="picture">
          <mat-option *ngFor="let picture of pictures" [value]="picture.value">
            <img width="50" height="50" src={{picture.image}}> {{picture.value}}
          </mat-option>
        </mat-select>
    </mat-form-field>
    <br>
    <mat-form-field appearance="fill">
      <mat-label>Target Date</mat-label>
      <input matInput type="date" name="targetDate" [(ngModel)]="currentGoal.targetDate" required>
    </mat-form-field>
    <br>
    <mat-form-field appearance="fill">
        <mat-label>Current Amount</mat-label>
        <input matInput name="currentAmount"  
          [ngModel]="currentGoal.currentAmount | currency" 
          [ngModelOptions]="{updateOn:'blur'}"
          (ngModelChange)="currentGoal.currentAmount=$event" required>
    </mat-form-field>
    <br>
    <mat-form-field appearance="fill">
        <mat-label>Target Amount</mat-label>
        <input matInput name="targetAmount" 
          [ngModel]="currentGoal.targetAmount | currency" 
          [ngModelOptions]="{updateOn:'blur'}"
          (ngModelChange)="currentGoal.targetAmount=$event" required>
    </mat-form-field>
    <br>
    <button mat-raised-button color="primary" (click)="updateGoal()">
        <mat-icon>assignment_turned_in</mat-icon>Update
      </button>
      <br>
      <div *ngIf=message>{{message}}  </div>
      <button mat-raised-button color="primary" routerLink='/goals'>
        <mat-icon>home</mat-icon>Back
      </button>
     
  </div>
  
  