.goals-details-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 15px;
    border: 1px solid grey;
    border-radius: 15px;
    box-shadow: 3px 3px 1px grey;
    width: 75%;
}

h1 {
    font-weight: 550;
    font-size: 30px;
    margin-top: 25px;
  }

mat-card {
    width: 350px;
    margin: 20px;
    padding: 20px;
    margin-top: 40px;
  } 

mat-card-actions{
    padding: 10px;
}

.mat-list-item {
    margin-top: 5px;
    margin-bottom: 5px;
}

.list-title {
    float: left;
}

.list-detail {
    margin-left: 30px;
}

img {
    padding-left: 20px;
    padding-right: 20px;
}