<div class="goals-list-container">
    <div class="heading-container">
        <mat-list>
            <h1>Savings Goals Overview</h1>
            <mat-divider></mat-divider>
            <button class="add-button" mat-stroked-button color="primary" routerLink="/goals/add">
                <mat-icon>note_add</mat-icon>
                Create New Goal
            </button>
        </mat-list>
    </div>

    <div class="card-container">
        <mat-card *ngFor="let goal of GOALS">
            <mat-card-header>
                <mat-card-title>
                    <mat-icon *ngIf="goal.currentAmount >= goal.targetAmount" style="margin-right: 10px;">check</mat-icon>
                    {{goal.name}}
                </mat-card-title>
                <mat-card-subtitle class="goal-reached" *ngIf="goal.currentAmount >= goal.targetAmount">
                    Target Goal Reached!!
                </mat-card-subtitle>
                <mat-card-subtitle *ngIf="goal.currentAmount < goal.targetAmount">Target: {{goal.targetDate | date}}</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="{{goal.picture}}" height="200px">
            <mat-card-content>
                <mat-progress-bar mode="determinate" value="{{displayProgress(goal.currentAmount, goal.targetAmount)}}"></mat-progress-bar>
                <br>
                <span style="float: right;">Saved: {{goal.currentAmount | currency:'USD'}} / {{goal.targetAmount | currency:'USD'}}</span>
                <br>
            </mat-card-content>
            <mat-card-actions>
                <button mat-raised-button color="primary" routerLink="/goals/{{goal.id}}">
                    <mat-icon>pageview</mat-icon>
                    Details
                </button>
                <button mat-raised-button color="primary" routerLink="/goals/update/{{goal.id}}">
                    <mat-icon>edit</mat-icon>
                    Edit
                </button>
                <button mat-raised-button color="warn" (click)="deleteGoal(goal.id)">
                    <mat-icon>delete_forever</mat-icon>
                    Delete
                </button>
            </mat-card-actions>
        </mat-card>
    </div>
</div>
