<div class="goals-list-container">
    <h1>All Goals</h1>
    <div>
        <button mat-raised-button color="primary" routerLink="/goals/add">New Goal</button>
    </div>

    <div class="card-container">
        <mat-card *ngFor="let goal of GOALS">
            <mat-card-header>
                <mat-card-title>{{goal.name}}</mat-card-title>
                <mat-card-subtitle>Target: {{goal.targetDate | date}}</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="{{goal.picture}}" height="200px">
            <mat-card-content>
                <!-- <p>{{goal.description}}</p>
                <ul> 
                    <li>Currently Saved: {{goal.currentAmount | currency:'USD'}}</li>
                    <li>Goal: {{goal.targetAmount | currency:'USD'}}</li>
                </ul>      -->
                <mat-progress-bar mode="determinate" value="{{displayProgress(goal.currentAmount, goal.targetAmount)}}"></mat-progress-bar>
                <br>
                <span style="float: right;">Saved: {{goal.currentAmount | currency:'USD'}} / {{goal.targetAmount | currency:'USD'}}</span>
                <br>
            </mat-card-content>
            <mat-card-actions>
                <button mat-raised-button color="primary" routerLink="/goals/{{goal.id}}">Details</button>
                <button mat-raised-button color="primary" routerLink="/goals/update">Update</button>
                <button mat-raised-button color="warn" (click)="deleteGoal(goal.id)">Delete</button>
            </mat-card-actions>
        </mat-card>
    </div>
</div>
