
<div class="greeting-container">

  <div class="greeting-header">

    <div class="text-heading">
      <mat-list>
        <h1>Welcome to Spyglass!</h1>
        <mat-divider></mat-divider>
        <h2><em>Let's get started saving!</em></h2>
      </mat-list>
    </div>

    <div class="image-heading">
      <img src="./assets/images/spyglassImage.jpg">
    </div>

  </div>

  <div class="stepper-container">
    <mat-horizontal-stepper #stepper>
      <mat-step >
          <ng-template matStepLabel>How much do you want to save?</ng-template>
          <mat-form-field>
            <mat-label>Amount</mat-label>
            <input matInput placeholder="$0.00" [(ngModel)]="amount" required>
          </mat-form-field>
          <div>
            <button mat-stroked-button matStepperNext class="button-space"> Continue <mat-icon>fast_forward</mat-icon></button>
          </div>
      </mat-step>
      <mat-step label="Enter a Target Date">
          <mat-form-field>
            <mat-label>Target Date</mat-label>
            <input matInput [(ngModel)]="targetDate" [matDatepicker]="picker"
                   required>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
          <div>
            <button mat-stroked-button matStepperPrevious><mat-icon>fast_rewind</mat-icon> Back</button>
            <button mat-stroked-button matStepperNext class="button-space">Continue <mat-icon>fast_forward</mat-icon></button>
          </div>
      </mat-step>
      <mat-step>
        <ng-template matStepLabel>Savings Plan</ng-template>
        <div class="button-container" *ngIf="!showPlan">
          <button mat-raised-button color="primary" (click)="calculatePlan()">Calculate Your Savings Plan</button>
        </div>
        <div class="savings-plan-container" *ngIf="showPlan">
          <mat-card style="text-align: center;">
            <h3 style="font-size: 30px; margin-top: 15px;"><strong>Your Savings Plan</strong></h3>
            <mat-list>
              <mat-divider></mat-divider>
                <mat-list-item>
                  <strong>Savings Goal</strong>:   {{amount | currency:'USD'}}
                </mat-list-item>
                <mat-divider></mat-divider>
                <mat-list-item>
                  <strong>Target Date</strong>:   {{targetDate | date}}
                </mat-list-item>
                <mat-divider></mat-divider>
                <mat-list-item>
                  <strong>Suggested Monthly Savings</strong>:   {{monthlyPayment | currency:'USD'}}
                </mat-list-item>
            </mat-list>
          </mat-card>
          <mat-card class="course-container">
            <div style="text-align: center; margin-bottom: 10px;">
              <h3 style="font-size: 40px;"><strong>Chart Your Course!</strong></h3>
              <br>
              <p style="font-size: 15px;">Would you like to track your own savings or check out how Vanguard can help you navigate the rough seas?</p>
              <br>
              <br>
            </div>
            <div style="text-align: center; margin-top: 15px;">
              <mat-icon style="margin-right: 50px;">map</mat-icon>
              <mat-icon [inline]="true" style="font-size: 100px; transform: scaleY(-1);">call_split</mat-icon>
              <mat-icon style="margin-left: 50px;">directions_boat</mat-icon>
            </div>
            <br>
            <br>
            <span>
              <button mat-raised-button color="warn" routerLink="/goals/add">Track your goal</button>
            </span>
            <span>
              <a mat-raised-button class="button-space" color="warn" target="_blank" href="https://investor.vanguard.com/mutual-funds/profile/performance/vmfxx/">
                Vanguard Funds
              </a>
            </span>
          </mat-card>
        </div>
        <div>
          <button mat-stroked-button matStepperPrevious><mat-icon>fast_rewind</mat-icon> Back</button>
          <button mat-stroked-button (click)="reset()" class="button-space">Reset</button>
        </div>
      </mat-step>
    </mat-horizontal-stepper>
    <div>
    
    </div>
  </div>
    
</div>
